### IntelliJ IDEA ###
/out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
*.class

.idea/
*.iml
*.iws
*.ipr

# Compilados
*.class
out/
build/
target/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Sistema
.DS_Store